button {
    border-radius: 2rem;
    border: none;
    width: 4rem;
    height: 1.4rem;
    border: 1px solid white;
    background-color: rgb(255, 57, 57);
    font-weight: bold;
    color: white;
    margin-top: 5px; 
    cursor: pointer;
    transition: all 0.9 ease-in-out;
}

button:hover {
    transition: all 0.9 ease-in-out;
    background-color: transparent;
    border: 2px solid rgb(255, 57, 57);
    color: rgb(255, 57, 57);
    
}